@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poly:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root {
--ascent-color: #607396;
--text-color: #FFF;
--title-color: #FFF;
}
html {
font-size: 16px;
}
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}
body {
font-family: "Arial", "Helvetica", sans-serif;
color: #FFFFFF;
background-color: #121212;
line-height: 1.4;
}
img {
display: block;
max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
font-size: 1.5rem;
font-weight: 400;
line-height: 1.2;
margin: 0;
}
p {
margin: 0;
line-height: 1.5;
font-size: 1rem;
}
ul, ol {
list-style: none;
}
a {
color: inherit;
text-decoration: none;
}
a:hover {
text-decoration: underline;
}
.header {
display: flex;
align-items: center;
padding: 0 26px;
margin: 0 0 1px 0;
justify-content: flex-end;
}
.content_header {
display: flex;
gap: 21px;
align-items: flex-end;
justify-content: space-between;
margin: 23px 0;
}
.contact_a {
font-size: 1.0625rem;
line-height: 1.4;
font-weight: normal;
font-family: "Inter";
}
.main_title {
font-size: 2rem;
line-height: 1.1;
font-family: "Poppins";
font-weight: bold;
}
.main_banner {
background: url('../images/banner.jpg') no-repeat center center;
background-size: cover;
width: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
height: 800px;
padding: 0 46px;
background-attachment: fixed;
}
.banner_title {
font-size: 2rem;
font-family: "Raleway";
font-weight: bold;
line-height: 1.2;
padding-bottom: 84px;
max-width: 638px;
}
.to_the_right_div {
align-self: flex-end;
margin-bottom: 23px;
}
.no_rights {
font-size: 1rem;
font-weight: normal;
font-family: "Poly";
}
.main {
max-width: 1240px;
margin: 0 auto;
}
.centered_content {
max-width: 1260px;
margin: 0 auto;
}
.padding_view {
width: 100%;
}
.tech_svg_div {
display: flex;
gap: 34px;
padding-top: 18px;
}
.flex_holder_right {
display: flex;
justify-content: flex-end;
}
.tech_title {
text-align: right;
margin-bottom: 39px;
line-height: 1.2;
font-size: 1.75rem;
font-weight: bold;
font-family: "Raleway";
}
.technologies {
padding-top: 118px;
display: flex;
flex-direction: column;
}
.tech_name {
font-size: 1.125rem;
line-height: 1.4;
margin-bottom: 18px;
text-align: right;
align-self: flex-end;
font-family: "Inter";
font-weight: normal;
}
.current_tech {
animation: fadeIn 0.3s ease-in-out;
}
.flex_holder_left {
display: flex;
justify-content: space-between;
align-items: flex-end;
}
.to_the_left_title {
font-size: 1.75rem;
font-weight: bold;
font-family: "Raleway";
line-height: 1.2;
}
.skills {
display: flex;
justify-content: space-between;
align-items: flex-end;
}
.skill {
font-size: 1rem;
line-height: 1rem;
font-weight: normal;
font-family: "Inter";
}
.left_align {
text-align: left;
}
.center_align {
text-align: center;
}
.right_align {
text-align: right;
}
.title_skill {
font-size: 1.75rem;
font-weight: bold;
font-family: "Raleway";
line-height: 1.2;
margin-bottom: 43px;
align-self: flex-end;
}
.div_skills {
display: flex;
margin-top: 112px;
flex-direction: column;
}
.skill_title {
line-height: 1.2;
font-weight: bold;
font-family: "Raleway";
font-size: 1.75rem;
padding-bottom: 14px;
}
.objective {
margin-top: 112px;
}
.h2_title {
font-size: 1.75rem;
font-weight: bold;
font-family: "Raleway";
line-height: 1.2;
margin-bottom: 14px;
}
.meta {
font-size: 1rem;
font-family: "Inter";
line-height: 1.4;
}
.me {
display: flex;
justify-content: space-between;
margin-top: 112px;
}
.bottom_right_content_right_div {
display: flex;
flex-direction: column;
justify-content: flex-end;
}
.footer {
margin-top: 295px;
padding-top: 43px;
padding-bottom: 43px;
background: #1C1C1C;
}
.github_link {
align-self: flex-end;
}
.align_self_end {
align-self: flex-end;
padding-top: 14px;
}
.right_contact {
display: flex;
flex-direction: column;
align-items: flex-end;
text-align: right;
}
.right_content_footer {
display: flex;
flex-direction: column;
justify-content: space-between;
}
.contact_title {
font-size: 1.75rem;
font-weight: bold;
font-family: "Raleway";
line-height: 1.2;
margin-bottom: 43px;
}
.h2 {
font-size: 1.25rem;
font-weight: bold;
font-family: "Raleway";
line-height: 1.2;
margin-bottom: 14px;
}
.text {
font-size: 1rem;
font-weight: normal;
font-family: "Inter";
padding-bottom: 14px;
line-height: 1.4;
}
p {
color: #F4F4F4;
}
.planomaterial {
object-fit: cover;
cursor: move;
}
.split_content_footer {
display: flex;
justify-content: space-between;
}
.left_content_footer {
display: flex;
flex-direction: column;
/* margin-bottom: 14px; */
}
.h2_footer {
font-size: 1.25rem;
font-weight: bold;
font-family: "Raleway";
line-height: 1.2;
padding-bottom: 14px;
}
.blue {
color: #607396;
}
.link_footer {
margin-bottom: 14px;
font-family: "Inter";
font-weight: normal;
line-height: 1.4;
}
.margin_top {
margin-top: 43px;
}
.no_padding_bottom {
padding-bottom: 0;
}
.full_white {
color: #FFFFFF;
}
.secondary_white {
color: #FCFCFC;
}
@keyframes fadeIn {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}
@media screen and (max-width: 1180px) {
    .main {
    padding: 0 17px;
    }
    .footer {
    padding-left: 17px;
    padding-right: 17px;
    }
}
@media screen and (max-width: 909px) {
    .tech_svgs {
    width: 48px;
    height: 48px;
    }
    .tech_svg_div {
    gap: 1rem;
    }
}
@media screen and (max-width: 547px) {
    .main_banner {
    padding: 0 14px;
    }
}
@media screen and (max-width: 670px) {
    .main_banner {
        padding: 0 1rem;
    }
    .tech_svgs {
        width: 32px;
        height: 32px;
    }
}
@media screen and (max-width: 768px) {
    .main_banner {
    padding: 0 1rem;
    }
    .main_banner_title {
    max-width: 400px;
    }
    .to_the_left_title {
    display: none;
    }
    .flex_holder_left {
    justify-content: flex-end;
    }
    .tech_name {
    display: none;
    }
    .skills {
    flex-direction: column;
    align-items: flex-end;
    }
    .end {
    text-align: right;
    margin-bottom: 43px;
    }
    .objective {
    text-align: center;
    }
    .me {
    flex-direction: column;
    }
    .planomaterial {
    margin-bottom: 43px;
    }
    .split_content_footer {
    flex-direction: column;
    }
    .h2_footer {
    margin-bottom: 14px;
    }
    .github_link {
    align-self: flex-start;
    }
    .align_self_end {
    align-self: flex-start;
    }
    .main_title {
    font-size: 1.8rem;
    }
    .header {
    padding: 0 14px;
    }
    .content_header {
    gap: 12px;
    }
}